<div class="contenedor">
<form (ngSubmit)="onSubmit()" [formGroup]="animalForm" >

    <input class="inputAnimal"formControlName="id" type="number" placeholder="Ingresa un ID">
    <input class="inputAnimal"formControlName="name" type="text" placeholder="Ingresa un nombre">
    <label>Carnivoro
    <select class="input__select" formControlName="isCarnivore">
        <option value=true>Si</option>
        <option value=false>No</option>
    </select>
    </label>
    <fieldset>
        <legend>Family<button class="mas" type="button" (click)="addFamily()">➕</button>
        </legend>
        <label *ngFor="let f of family">
            <input class="input__radio" formControlName="family" type="radio" value="{{f._id}}"> {{f.name}}
        </label>
        
    </fieldset> 

    <button class="enviar" type="submit"  [disabled]="!animalForm.valid"> Enviar</button>

</form>
</div>