.title_list {
    text-align: center;
    font-size: 25px;
    text-transform: capitalize;
    margin-top: 15px;
}

.fomulario{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top:20px;
    .input__text{
       
        text-align: center;
        border-style: none;
        border-radius: 7px;
        color: black;
        margin-right: 10px;
    }
    .text__select{
        margin-top:5px;
        text-align: center;
        margin-right: 3px;
        font-size: 25px;
        text-transform: capitalize;
        .input__select{
            border-style: none;
            width:50px;
            border-radius:7px;
            text-align: center;
        }
    }
}

    .list_animals{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
        li{
            margin:5px;
            background-color:white;
            border-radius: 4px;
            width:100%;
            max-width:300px;
            padding: 10px;
            a{
                text-decoration: none;
                color: black;
                h3{
                    text-align: center;
                }
                p{
                    text-align: center;
                }
            }
            div{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                button{
                    border-style: none;
                    border-radius: 7px;
                    background-color:whitesmoke;
                    margin: 5px;
                    padding: 10px!important;
                    font-size: 20px;
                    text-transform: capitalize;
                    &:hover{
                        background-color:black;
                        color:whitesmoke;
                        transition:1s;
                    }
                }
                
            }
            
    
        }
    }



.modal-content{
    background-color: rgb(171, 218, 159)!important;
    .modal-header{
        border-bottom: none;
        margin-right:20px;
        margin-left:20px;

        .modal-title{
            color: black;
        }
    }
    form{
        display: flex;
        flex-direction: column;
        p{
            color:black;
            text-align: center;
        }
        input{
            color:black;
            padding: 5px;
            background-color: transparent;
            border: black 1px solid;
            border-radius: 4px;
            text-align: center;
            align-self: center;
            margin-top: 20px;
        }
        .text__select{
            margin-top:5px;
            text-align: center;
            margin-right: 3px;
            font-size: 25px;
            text-transform: capitalize;
            .input__select{
                border-style: none;
                width:50px;
                border-radius:7px;
                text-align: center;
            }
        }
        .input__radio{
            margin-left: 20px;
        }

        button{
            margin-top: 48px;
            margin-bottom: 50px;
            align-self: center;
            border-style: none;
            border: 1px solid white;
            background-color: #262626;
            border-radius: 4px;
            color: white;
            padding: 10px!important;
            font-size: 20px;
            &:hover{
                background-color: white;
                color:black;
                transition: 0.8s;
            }
        }
    }
}