<div class="fomulario">
    <input class="input__text"type="text" [(ngModel)]="filter.text" (ngModelChange)="filterAnimals()" placeholder="Busca un animal" />
    <label class="text__select">viven en grupo
        <select class="input__select"[(ngModel)]="filter.option" (ngModelChange)="filterAnimals()">
            <option [ngValue]=null>-</option>
            <option [ngValue]=true> si</option>
            <option [ngValue]=false>no</option>
        </select>
    </label>
</div>



<div *ngIf="!filter.text&&filter.option==null" class="container__list">
    <p class="title_list">lista de animales</p>
    <ul class="list_animals">
        <li *ngFor="let animal of animals">
            <a [routerLink]="['animal/',animal.id]">
                <h3> {{animal.name}}</h3>
                <div *ngIf="animal.isCarnivore">
                    <p>Carnivoro: si</p>
                </div>
                <div *ngIf="!animal.isCarnivore">
                    <p>Carnivoro: no</p>
                </div>
                <p> Familia: {{animal.family.name}}</p>
                <p> Viven en grupo: {{animal.family.livingInGroup?"si":"no"}}</p>
            </a>
            <div>
                <button *appRoles="['admin']" (click)="getAnimal(animal.id)" data-bs-toggle="modal"
                data-bs-target="#updateAnimal">Editar</button>
                <button *appRoles="['admin']" (click)="deleteAnimal(animal._id)">Eliminar</button>
            </div>
            
        </li>
    </ul>
</div>

<div *ngIf="filter.text||(filter.option==false||filter.option==true)">
    <div *ngIf="filteredList==[]">
        <p class="title_list">No Hay concidencias</p>
    </div>
    <div *ngIf="filteredList" class="container__list">
        <p class="title_list">Coincidencias</p>
        <ul class="list_animals ">
            <li *ngFor="let animal of filteredList">
                <a [routerLink]="['animal/',animal.id]">
                    <h3>{{animal.name}}</h3>
                    <div *ngIf="animal.isCarnivore">
                        <p>Carnivoro: si</p>
                    </div>
                    <div *ngIf="!animal.isCarnivore">
                        <p>Carnivoro: no</p>
                    </div>
                    <p> Familia: {{animal.family.name}}</p>
                    <p> Viven en grupo: {{animal.family.livingInGroup?"si":"no"}}</p>
                </a>
                <div>
                    <button *appRoles="['admin']" (click)="getAnimal(animal.id)" data-bs-toggle="modal"
                    data-bs-target="#updateAnimal">Editar</button>
                    <button *appRoles="['admin']" (click)="deleteAnimal(animal._id)">Eliminar</button>
                </div>
            </li>
        </ul>
    </div>

</div>

<!-- modal update -->
<div class="modal fade" id="updateAnimal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header ">
                <h5 class="modal-title" id="exampleModalLabel">Animal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="update()" [formGroup]="updateForm">
                    <input formControlName="_id" type="text" readonly hidden>
                    <input formControlName="id" type="number" placeholder="id">
                    <div *ngIf="!updateForm.get('id')?.valid && (updateForm.get('id')?.dirty)" class="alerta">
                        Has introducido mal el campo</div>
                    <input class="description" formControlName="name" type="text" placeholder="Name">
                    <div *ngIf="!updateForm.get('name')?.valid && (updateForm.get('name')?.dirty)" class="alerta">
                        Has introducido mal el campo</div>
                    <label class="text__select">Carnivoro
                        <select class="input__select" formControlName="isCarnivore">
                            <option value=true>si</option>
                            <option value=false>no</option>
                        </select>
                    </label>
                    <fieldset>
                        <legend class="text__select">Familia</legend>
                        <label *ngFor="let f of families">
                            <input class="input__radio" formControlName="family" type="radio" value="{{f._id}}"> {{f.name}}
                        </label>
                    </fieldset>
                    <button type="submit" data-bs-dismiss="modal" [disabled]="!updateForm.valid">
                        Modificar Animal</button>
                </form>
            </div>
        </div>
    </div>
</div>