
<div class="contenedor">

<form (ngSubmit)="onSubmit()" [formGroup]="familyForm">
    <h3> Familia</h3>
    <input class="inputAnimal"formControlName="id" type="number" placeholder="Ingresa un ID">
    <input class="inputAnimal"formControlName="name" type="text" placeholder="Ingresa un nombre">
    <label>Viven en Grupo 
    <select class="input__select" formControlName="livingInGroup">
        <option value=true>Yes</option>
        <option value=false>Not</option>
    </select>
    </label>
    <fieldset>
        <legend>Habitat <button class="mas" type="button" (click)="addHabitat()">➕</button> </legend>
        <label *ngFor="let h of habitats">
            <input class="input__radio" formControlName="habitat" type="radio" value="{{h._id}}"> {{h.name}}
        </label>
        
    </fieldset>
    <button class="enviar"  type="submit" [disabled]="!familyForm.valid">Crear</button>

</form>
</div>