

<div class="contenedor">
    <form (ngSubmit)="onSubmit()" [formGroup]="habitatForm" >
        <h3> Habitat</h3>
        <input class="inputAnimal"formControlName="id" type="number" placeholder="Ingresa un ID">
        <div *ngIf="!habitatForm.get('id')?.valid && (habitatForm.get('id')?.dirty)" class="alerta">
            Has introducido mal el  campo</div>
    
        <input class="inputAnimal"formControlName="name" type="text" placeholder="Ingresa un nombre">
        <div *ngIf="!habitatForm.get('name')?.valid && (habitatForm.get('name')?.dirty)" class="alerta">
            Has introducido mal el  campo</div>
    
        <input class="inputAnimal" formControlName="location"  type="text" placeholder="Latitud , Longitud">
        <div *ngIf="!habitatForm.get('location')?.valid && (habitatForm.get('location')?.dirty)" class="alerta">
            Has introducido mal el  campo</div>
        <label>Tipo: 
        <select class="input__select"formControlName="mode" >
            <option value="Tierra" name="">Tierra</option>
            <option value="Mar" name="">Mar</option>
            <option value="Aire" name="">Aire</option>
        </select>
    </label>
        <button class="enviar" type="submit" [disabled]="!habitatForm.valid">Enviar</button>
    </form >
</div>