

<ul class="list_habitats">
    <li *ngFor="let habitat of habitats">
        <h3>{{habitat.name}}</h3>
        <iframe
            width="300"
            height="330"
            id="gmap_canvas"
            src="https://maps.google.com/maps?q=-4.479925%2C-63.51853944444444&t=&z=13&ie=UTF8&iwloc=&output=embed"
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
        ></iframe> 
        <p> {{habitat.mode}} {{habitat.location}}</p>
        <div>

        </div>
    </li>
</ul>