<nav>
    <ul>
        <li>
            <a [routerLink]="['']" > Home</a>
        </li>
        <li>
            <a *appRoles="['user','admin']" [routerLink]="['animals']">Animals</a>
        </li>
        <li>
            <a *appRoles="['user','admin']" [routerLink]="['habitats']">Habitats</a>
        </li>
        <li>
            <a *appRoles="['admin']" [routerLink]="['add/animal']"> Add Animal</a>
        </li>
        <li>
            <a [routerLink]="['user/login']"> Login</a>
        </li>
    </ul>
</nav>
